services:
  data_base:
    image: postgres:16
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DB_USER_POSTGRES} -d ${DB_NAME_POSTGRES}" ]
      interval: 5s
      timeout: 5s
      retries: 5

  keygen:
    image: alpine:3.20
    container_name: vuttr-keygen
    volumes:
      - ./keys:/keys
    entrypoint: >
      sh -c "
      if [ ! -f /keys/VUTTR_rsaPrivateKey.pem ]; then
        apk add --no-cache openssl &&
        openssl genrsa -out /keys/VUTTR_rsaPrivateKey.pem 2048 &&
        openssl rsa -in /keys/VUTTR_rsaPrivateKey.pem -pubout -out /keys/VUTTR_rsaPublicKey.pem &&
        echo 'RSA keys generated';
      else
        echo 'RSA keys already exist';
      fi
      "

  api:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      JWT_PRIVATE_KEY_PATH: /app/keys/VUTTR_rsaPrivateKey.pem
      JWT_PUBLIC_KEY_PATH: /app/keys/VUTTR_rsaPublicKey.pem
    volumes:
      - ./keys:/app/keys:ro
    depends_on:
      data_base:
        condition: service_healthy
      keygen:
        condition: service_completed_successfully