services:
  data_base:
    image: postgres:16
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DB_USER_POSTGRES}" ]
      interval: 5s
      timeout: 5s
      retries: 5

  api:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      data_base:
        condition: service_healthy